
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
{%if user.is_authenticated%}
<h2>Welcome {{request.user}}!!!</h2>

<hr>


<a href="{%url 'createprofile'%}">Create Profile</a>
<a href="{%url 'updateprofile' uid%}">Update Profile</a>
<a href="{%url 'delete' uid%}">Delete Account</a>
<a href="{%url 'viewprofile' uid%}">View Profile</a>


<a href="{%url 'logout'%}">Logout</a>

{%else%}
<!---->
<!--&lt;!&ndash; <a href="{%url 'logout'%}">logout</a>&ndash;&gt;-->
<!--    www-->
<h3>Please login to your Account!!</h3><button type="button" class="btn btn-"><a href="{%url 'login'%}">Login</a></button>
{%endif%}
<!--Transfer-->
<!--deposit-->
<!--<withdraw-->
</body>
</html>